<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOSS配置</title>
    <link rel="stylesheet" href="/static/bsconf/css/jquery.jsonview.css" />

    <link rel="stylesheet" href="/static/bsconf/css/bsconfiger.css?v=1.0.17" />

    <script src="/static/bsconf/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/bsconf/js/jquery.jsonview.js"></script>
    <script type="text/javascript" src="/static/bsconf/js/bsconfiger.js?v=1.0.45"></script>
</head>
<body>
<div class="topdiv">
    <label>模块</label>
    <select class="head" id="reqType">
        <option selected="selected" value="ZG">帐管配置</option>
        <option value="ZC">帐处配置</option>
        <option value="INTER">接口配置</option>
    </select>
    <input type="file" class="head" id="jsonFile" />
    {#    <a href="" id="sqlFile">下载</a>#}
    <input type="button" class="head" id="uploadMmakeSql" value="生成SQL"/>
    <input type="button" class="head" id="saveJson" value="保存json"/>

</div>
{#<div>#}
{#    <button class="btn" id="makeSql">生成脚本</button>#}
{#</div>#}
<div class="bodydiv">
<table class="con" id="con">
    <tr>
        <th class="json">json文件</th>
        <th class="state">状态</th>
        <th class="month">月份</th>
        <th class="sql">sql文件</th>
        <th class="type">模块</th>
        <th class="createtime">生成时间</th>
        <th class="updatetime">更改时间</th>
    </tr>
    <tr>
        <td class="json" id="json"></td>
        <td class="state" id="state"></td>
        <td class="month" id="month"></td>
        <td class="sql" id="sql"></td>
        <td class="type" id="type"></td>
        <td class="createtime" id="createtime"></td>
        <td class="updatetime" id="updatetime"></td>
    </tr>
</table>
</div>

</body>
</html>
