<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOSS配置</title>
    <link rel="stylesheet" href="/static/bsconf/css/jquery.jsonview.css" />
    <script src="/static/bsconf/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/bsconf/js/jquery.jsonview.js"></script>
    <script type="text/javascript" src="/static/bsconf/js/bsconfiger.js?v=1.0.15"></script>
</head>
<body>
<div>

        <input type="file" id="jsonFile" />
        <input type="button" id="upload" value="upload"/>

</div>
<div>
    <button class="btn" id="makeSql">生成脚本</button>
</div>

</body>
</html>
