<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bsconf/css/jquery.jsonview.css?v=1.0.3" />
{#    <script src="/static/bsconf/js/jquery-3.3.1.min.js"></script>#}
    <script src="/static/bsconf/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bsconf/js/jquery.jsonview.js?v=1.0.2"></script>

    <link rel="stylesheet" href="/static/bsconf/css/index.css?v=1.0.2" />

    <script type="text/javascript" src="/static/bsconf/js/bsqEditer.js?v=1.0.6"></script>
</head>
<body>
<div class="topdiv">

    <div class="makeSql">
        <span class="file">
            <input type="file" class="head filein" id="jsonFile" />
        </span>

        {#    <a href="" id="sqlFile">下载</a>#}
        <input type="button" class="head" id="openJson" value="打开json"/>
        <input type="button" class="head" id="uploadMmakeSql" value="生成SQL"/>
        <input type="button" class="head" id="saveJson" value="保存json"/>
    </div>

</div>

<div class="conts">
    <div class="btns">
        <span>
            <input type="button" value="JSON"/>
        </span>
        <span>
            <input type="button" value="SQL"/>
        </span>
    </div>
    <div class="editer">
        <div id="json">

        </div>
        <div id="sql">

        </div>
    </div>
</div>
</body>
</html>