<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bsconf/css/jquery.jsonview.css?v=1.0.7" />
{#    <script src="/static/bsconf/js/jquery-3.3.1.min.js"></script>#}
    <script src="/static/bsconf/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bsconf/js/jquery.jsonview.js?v=1.0.4"></script>

    <link rel="stylesheet" href="/static/bsconf/css/index.css?v=1.0.5" />
    <link rel="stylesheet" href="/static/bsconf/css/bsqEditer.css?v=1.0.12" />
    <script type="text/javascript" src="/static/bsconf/js/bsqEditer.js?v=1.0.45"></script>
</head>
<body>
<div class="topdiv searcher">
        <span class="condition">
            <label>模块</label>
        <select class="head" id="reqType">
            <option selected="selected" value="ZG">帐管配置</option>
            <option value="ZC">帐处配置</option>
            <option value="JK">接口配置</option>
        </select>
        </span>
    <span class="condition">
            <label>月份</label>
        <select class="head" id="month">
            {% for m in aMonth %}
                <option value="{{ m }}">{{ m }}</option>
            {% endfor %}
        </select>
        </span>
    <span class="condition">
            <label>作者</label><input type="text" class="head" id="author" value="王新田" />
        </span>
</span>
    <span class="condition">
            <label>状态</label><input type="text" class="head" id="status" value="" />
        </span>
    <span>
            <input type="button" class="head" id="query" value="新建"/>
        </span>
</div>

<div class="topdiv">
    <span><label>解决方案</label><input type="text" id="reqName"></span>
    <span><input type="button" class="head" id="selectBlock" value="选择模板"/></span>
    <input type="button" class="head" id="saveJson" value="保存json"/>
    <span><input type="button" class="head" id="makeSql" value="生成配置"/></span>
    <input type="button" class="head" id="saveSql" value="保存sql"/>
    <input type="button" class="head" id="executeSql" value="执行SQL"/>
        <a href="" class="head download" id="downloadSql">下载SQL</a>

</div>
<div class="conts">
    <div class="btns">
        <span>
            <input type="button" id="btnjson" value="JSON"/>
        </span>
        <span>
            <input type="button" id="btnsql" value="SQL"/>
        </span>
    </div>
    <div class="editer" id="editer">
        <div class="json" id="json">

        </div>
        <div class="sql" id="sql">

        </div>
    </div>
</div>

    <div class="pop_con" id="blockSelecter">
		<div class="pop">
			<h3>配置业务功能</h3>
            {% for block in aBlockName %}
            <div><input type="checkbox" name="reqblock" id="{{ block }}" value="{{ block }}"/>{{ block }}</div>
            {% endfor %}
			<div><a href="#" id="shutoff">确定</a></div>
		</div>

		<div class="mask"></div>
	</div>

</body>
</html>